<body class="fondo-2">
    <div class="container mb-5 wform shadow bg-mio d-grid my-5">
        <div class="row">
            <section class="cols-6">         {{!-- CODEAMOS EL HTML DE NUESTRO FORMULARIO --}}
                
                <form action="/contacto" method="POST" class="container py-4 text-white d-grid">
                    <div class=" bg-ligth cols-6 m-3">
                    <h2 class="text-center text-white"> Contactanos! </h2>
                     <img src="/images/logo2.jpg"  class="img-fluid" alt="logo">
                    </div>
                    {{#each arregloErrores}}{{!-- Aqui hacemos un each sobre el arreglo errores para 
                        Mostrar dichos errores --}}

                    <p class="alert alert-danger alert-dismissible fade show" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-exclamation-triangle-fill" viewBox="0 0 20 20">
                            <path
                                d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        </button>
                        {{msg}}
                    </p>

                    {{/each}}

                    <label for="name" hidden>ingrese nombre</label>
                    <input type="text" class="p-2 m-2" id="name" name="name" placeholder="Nombre" autofocus {{#if
                        datosFormulario.name}} value="{{datosFormulario.name}}" {{/if}}>


                    <label for="lastName" hidden>Ingrese apellido</label>
                    <input type="text" class="p-2 m-2" id="lastName" name="lastName" placeholder="Apellido" {{#if
                        datosFormulario.lastName}} value="{{datosFormulario.lastName}}" {{/if}}>

                    <label for="email" hidden>ingrese su mail</label>
                    <input type="text" class="p-2 m-2" name="email" id="email" placeholder="Email" {{#if
                        datosFormulario.email}} value="{{datosFormulario.email}}" {{/if}}>

                    <label for="text" hidden>ingrese mensaje</label>
                    <textarea name="text" class="p-2 m-2" id="text" cols="30" rows="10"></textarea>
                    <input type="submit" class="btn btn-primary p-2 m-2" value="Enviar">
                    {{statusMsg}}
                    

                </form>
                
                

            </section>
            
            
        </div>
        
    </div>
    
    
    

</body>